{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}Новости{% endblock %}
{% block content %}
<h1>Все новости</h1>
<h3>{{ posts|length }}</h3>
<hr>

{% if is_not_author %}
<button> <a href="upgrade/"> Хочу стать автором!</a> </button>
{% endif %}

{% for post in posts %}
<hr>
<h3>{{ post.heading|currency }}</h3>
<h3>{{ post.date_time|date:'d M Y' }}</h3>
<h3>{{ post.text|truncatewords:20|currency }}</h3>
<hr>
{% endfor %}




   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock %}